@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Solitreo&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #090A0B;

  --gabarito: "Gabarito", sans-serif;
  --solitreo: "Solitreo", cursive;

  --contentWidth: 1200px;

  /* ROUND BORDER RADIUS */
  --bR: calc(infinity * 1px);

  --borderC1: rgba(255, 255, 255, .3);
  --borderC2: rgba(255, 255, 255, .02);

  --backgroundC2: rgba(255, 255, 255, .03);

  --blueAccent1: #003E8E;
  --blueAccent2: #338CFF;
  --blueAccent3: #4C9AFF;

  --blueButtonGradient: linear-gradient(-45deg, var(--blueAccent1), var(--blueAccent2), var(--blueAccent3));

  --textC2: rgba(255, 255, 255, .6);
}

*{
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  font-family: "Gabarito", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090A0B;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

::selection{
  background-color: var(--blueAccent2);
  color: white;
}

/* CUSTOM CLASSES */

.accentText{
  display: inline;
  font-family: var(--solitreo);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(-90deg, #0A66DF, #a3cbff);
}

.button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: var(--bR);
  font-weight: 500;
  font-size: .9rem;
  position: relative;
  cursor: pointer;
  background-image: var(--blueButtonGradient);
  transition: filter .2s ease;
}

.button svg{
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  transition: transform .2s ease;
  will-change: transform;
  animation: none;
}

.button:hover{
  filter: brightness(1.2);
}

.button:hover svg{
  animation: arrowJump .3s ease;
}

@keyframes arrowJump {
  0%{ transform: translateX(0px); }
  50%{ transform: translateX(1px) scaleX(1.3); }
  100%{ transform: translateX(0px); }
}

.button::before{
  content: '';
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: var(--bR);
  background: linear-gradient(60deg, white, var(--borderC2));
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask: 
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* BACKGROUND */

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.background video{
  width: 100%;
  opacity: 0.4;
  filter: blur(5px);
  z-index: 1;
}

.background .topShadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(180deg, var(--background), transparent);
  z-index: 2;
}

.background .bottomShadow{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg, var(--background), transparent);
  z-index: 2;
}

/* HEADER */

header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  inset-inline: 0;
  gap: 5rem;
  padding: 14px 18px;
  background-color: rgba(255, 255, 255, .05);
  border-radius: var(--bR);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  margin-inline: auto;
  margin-top: 15px;
  width: calc(100% - 40px);
  max-width: var(--contentWidth);
  z-index: 999;
}

header::before{
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  padding: 1px;
  border-radius: var(--bR);
  background: linear-gradient(60deg, var(--borderC1), var(--borderC2));
  -webkit-mask: 
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}

header a{
  cursor: pointer;
}

/* MAIN */

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin: auto;
  padding-block: 120px;
  width: calc(100% - 40px);
  max-width: var(--contentWidth);
  z-index: 1;
}

.hero{
  width: 100%;
  display: flex;
  padding-inline: 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.hero h1{
  font-size: 3.5rem;
  line-height: 1.1;
}

.services{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.services div{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: var(--backgroundC2);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding: 25px 30px;
  padding-bottom: 50px;
}

.services div::before{
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(60deg, var(--borderC1), var(--borderC2));
  -webkit-mask: 
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.services div.accentService{
  background: linear-gradient(135deg, rgba(51, 139, 255, 0.3), var(--backgroundC2));
  padding-top: 40px;
  padding-bottom: 60px;
}

.services div::before{
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(60deg, var(--borderC1), var(--borderC2));
  -webkit-mask: 
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.services div img{
  margin-left: -10px;
}

.services div h2{
  font-size: 1.25rem;
  font-weight: 600;
}

.services div p{
  opacity: 0.7;
  line-height: 1.4;
}

/* FOOTER */

footer{
  position: relative;
  width: 100vw;
  background-color: var(--backgroundC2);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

footer .footerBg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  opacity: 0.5;
  object-fit: cover;
  z-index: -1;
}

footer .footerWrap{
  padding-top: 40px;
  width: calc(100% - 40px);
  max-width: var(--contentWidth);
  margin: auto;
}

footer .footerWrap > div{
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  gap: 2rem;
}

footer .quickAbout{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

footer .quickAbout .logo{
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .quickAbout .logo h2{
  font-size: 2rem;
}

footer .quickAbout p{
  max-width: 500px;
}

footer .quickAbout .socials{
  display: flex;
  gap: 0.5rem;
}

footer .quickAbout .socials a{
  padding: 5px;
  border-radius: 8px;
  transition: background-color .2s ease;
}

footer .quickAbout .socials a:hover{
  background-color: var(--blueAccent2);
}

footer .links{
  display: flex;
  gap: 2rem;
}

footer .links nav{
  width: 200px;
  position: relative;
  background-color: var(--backgroundC2);
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  gap: 0.25rem;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

footer .links nav::before{
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  padding: 1px;
  border-radius: 15px;
  background: linear-gradient(60deg, var(--borderC1), var(--borderC2));
  -webkit-mask: 
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

footer .links nav h3{
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
}

footer .links nav a, footer .links nav p{
  opacity: 0.6;
  transition: opacity .2s ease;
}

footer .links nav a:hover, footer .links nav p:hover{
  opacity: 1;
}

footer .copyright{
  font-size: 1rem;
  width: 100%;
  text-align: center;
  padding: 15px;
  border-top: 1px solid var(--borderC1);
}